
.board{
    border: 2px solid black;
    display: grid;
    place-items: center;
    place-content: center;
    width: 75vh;
    height: 95vh;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.board .card{
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 4% 2% 4% 2%;
    height: 99%;
    width: 99%;
}
.board .card:hover{
    border: 2px solid black;
}
.card .cardValue{
    font-size: 0.8em; 
}
.fourCardsBoard{
    grid-template-columns: 40% 40%;
    grid-template-rows: 40% 40%;
}

.sixteenCardsBoard{
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
}

.thirtysixCardsBoard{
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-template-rows: 15% 15% 15% 15% 15% 15%;
}

.card{
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    padding: 40px 10px 40px 10px;
    height: 90%;
    width: 60%;
    box-sizing: border-box;
}

.cardValue{
    font-size: 1em; 
}